.carta_acumulado {
    background-color: lightgreen;
    /* color: darkgreen; */
}

.carta_ultrep {
    background-color: lightpink;
    /* color: darkgreen; */
}

.carta_millon {
    background-color:lightsteelblue;
    /* color: darkgreen; */
}
